# =====================================================
# Python
# =====================================================

__pycache__/
*.py[cod]
*$py.class

*.so
*.dll

# Environnements virtuels
venv/
env/
.venv/

.faces/
# *.jpg
# =====================================================
# IDE
# =====================================================

.vscode/
.idea/

*.code-workspace


# =====================================================
# Logs
# =====================================================

*.log
novisagelock.log

historique.json


# =====================================================
# Configuration locale
# =====================================================

# Configuration personnelle éventuelle
config.local.json


# =====================================================
# Données biométriques
# =====================================================

# Empreinte propriétaire
embeddings/

*.npy


# =====================================================
# Modèles IA
# =====================================================

# Modèles InsightFace / ONNX
models/

*.onnx


# =====================================================
# OpenCV
# =====================================================

*.xml


# =====================================================
# Build / Distribution
# =====================================================

build/
dist/

*.spec

*.exe


# =====================================================
# PyInstaller
# =====================================================

*.manifest
*.pyi


# =====================================================
# Fichiers système Windows
# =====================================================

Thumbs.db
Desktop.ini

$RECYCLE.BIN/


# =====================================================
# Fichiers temporaires
# =====================================================

*.tmp
*.temp
*.bak
*.swp